.section {
  min-height: 80vh;
  scroll-margin-top: 90px;
  display: grid;
  place-items: center;
}

.container {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}

.description {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.imageFrame {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
}

.imageFrame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h2 {
  margin-bottom: 5px;
}

.h3 {
  margin-top: 0;
  font-size: 15px;
}

.buttonsRow {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin-left: 5%;
}

.cursor {
  margin-left: 2px;
  opacity: 0.8;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
