.navbar {
  position: sticky;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #1a1a1a;
  gap: 0.5rem;
}

.navbar a, .navbar span {
  color: rgb(255, 255, 255);
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 15px;
}

.navbar a.active {
  text-decoration: underline;
}