.container {
  padding: 2.5rem 0;
  scroll-margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  min-height: 90vh;
}

.projectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 800px));
  place-items: center;
  gap: 50px;
  max-width: 800px;
  width: 100%;
}
