.container {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  scroll-margin-top: 90px;
  display:flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  min-height: 90vh;
}

.skillContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 150px));
    gap: 50px;
    max-width: 800px;
    width: 90%;
    justify-content: center;
}

.heading {
    font-size: 20px;
    text-align: center  ;
}
