.container {
  padding: 2.5rem 0;
  scroll-margin-top: 90px;
  display:flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  min-height: 80vh;
}

.skillContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
}

.heading {
    font-size: 20px;
}