.button {
  display: inline-flex;
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  text-align: left;
  padding-top: 3px;
  padding-right: 10px;
  color: rgb(255, 255, 255);
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 15px;
  justify-content: center;
}

.button:hover {
  color: rgb(207, 207, 207);
}

.button:last-child {
    grid-column: 1 / -1; 
    justify-self: center;
  }
