.button {
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    text-align: left;
    padding-right: 15px;
}

.button a {
  color: rgb(255, 255, 255);
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 15px;
}

.button a:hover{
    color: rgb(207, 207, 207);
}