.card {
  border-radius: 10px;
  width: 80%;
  padding: 0 15px;
  text-align: center;
  background-color: rgb(27, 27, 27);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 10px;
}

.card h2 {
  font-size: 15px;
}

.card h3 {
  font-size: 13px;
}

.card p {
  font-size: 14px;
  font-style: italic;
}
