.card {
  border: 1px dashed;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 100%;
  min-width: 0;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}