h3 {
  font-size: 15px;
}

.card {
  width: 100%;
  min-width: 0;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transform: translateY(16px);
  animation: fadeUp 1s ease forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

@keyframes fadeUp {
   from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
