h3 {
    font-size:20px;
}

.card {
    border: 0.5px solid white;
    border-radius: 10px;
    width: 150px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}